* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    background: linear-gradient(#333, white) no-repeat;
}


html, body {
    display: block;
}
#container {
    height: 100%;
    width: 100%;
}
#game {
    background-color: rgba(234, 207, 130, 57);
    width: 100%;
    height: 100%;
}